/* Inside your style.css file... */

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  width: 100%;
  height: 100px;
}

.headerContainer {
  background-color: #fff;
  border-bottom: 1px solid #d7d7d7;
  box-shadow: 0 1px 4px rgba(100, 100, 100, 0.15);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  margin: 0 auto;
  padding: 0 2%;
  text-align: center;
}

.fristWrapper {
  padding-top: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav {
  border-top: 1px solid #d7d7d7;
  font-weight: bold;
  margin-top: 0.5rem;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  padding: 1rem 1.15rem;
  text-transform: uppercase;
  width: 100%;
}

.nav li {
  display: inline-block;
  margin: 0 1rem;
}

.nav a {
  color: #e2574c;
  text-decoration: none;
}

.shoppingCart {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 3.6rem;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.shoppingCart img {
  height: auto;
  max-width: 100%;
}

.cart-items {
  background-color: #e2574c;
  border-radius: 50%;
  color: #fff;
  display: none;
  font-size: 0.8rem;
  font-weight: bold;
  height: 20px;
  line-height: 1;
  padding-top: 4px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 20px;
}

.container {
  background: linear-gradient(rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url("./images/banner-girl.png") no-repeat center 4.3rem,
    url("./images/flower-bkgd.jpg") repeat-x center;
  background-size: cover, 9.75rem auto, cover;
  color: #fff;
  height: 26.25rem;
  margin-top: 116px;
  position: relative;
}

.firstContainer img {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 8.6rem;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.about {
  width: 100%;
  height: 10.25rem;
}

.about-wrapper {
  text-align: center;
  padding-top: 12px;
  font-size: 1.05rem;
  line-height: 2;
}

.italic {
  font-weight: normal;
  font-style: italic;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 00;
  color: #fff;
  text-shadow: 2px 2px 8px #111;
}

.centered p {
  padding-left: 150px;
}

.row {
  display: flex;
  border: 1px solid white;
}

.column {
  border: 1px solid white;
  position: relative;
  text-align: center;
  color: white;
  top: 0;
  left: 0;
}

/* Clearfix (clear floats) */
.rowTwo::after {
  content: "";
  clear: both;
  display: table;
}

.rowTwo {
  overflow: hidden;
  margin-bottom: 20px;
}

.columnTwo {
  float: left;
  width: 25%;
  padding: 5px;
  text-align: center;
}

.columnTwo button {
  border-radius: 25px;
  color: white;
  background-color: black;
}

.image3 {
  border: 2px white;
  background-image: url("./images/wave-bkgd.jpg");
  padding: 100px;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0 auto;
  text-align: center;
  color: white;
  background-position: bottom center;
}

.media {
  background-color: black;
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mediaOne {
  padding: 2rem;
  left: 0;
}

.mediaOne li {
  margin: 10px 0;
}

.centeredTwo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  width: 300px;
  border-radius: 25px;
}

.image3 button {
  border-radius: 25px;
  color: white;
  background-color: red;
}
